*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#111;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:sans-serif;
    overflow:hidden;
}

.gameArea{
    width:400px;
    height:600px;
    background:#444;
    position:relative;
    overflow:hidden;
    border:4px solid white;
}

.roadLine{
    width:10px;
    height:100px;
    background:white;
    position:absolute;
    left:195px;
}

.car, .enemy{
    width:50px;
    height:90px;
    position:absolute;
    border-radius:10px;
}

.car{
    background:limegreen;
    bottom:20px;
    left:175px;
}

.enemy{
    background:red;
}

.score{
    position:absolute;
    top:20px;
    left:20px;
    color:white;
    font-size:20px;
}

.startScreen{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    cursor:pointer;
}

.hidden{
    display:none;
}